/***********************
******** MIXIN *********
************************/

/*
Breakpoint
Small ≥576px
Medium ≥992px
Large ≥ 1240px
*/

// RESPONSIV
@mixin medium {
    @media screen and (min-width: 576px) {
        @content;
    }
}

@mixin large {
    @media screen and (min-width: 992px) {
        @content;
    }
}

// ARROW SLIDER
@mixin responsive-arrow($small, $medium, $large) {
    height: $small;
    width: auto;
    top: calc(50% - (#{$small / 2}));

    @media screen and (min-width: 576px) {
        height: $medium;
        top: calc(50% - (#{$medium / 2}));
    }

    @media screen and (min-width: 992px) {
        height: $large;
        top: calc(50% - (#{$large / 2}));
    }
}