/*******************/
/**** MAIN FONT ****/
/*******************/

$font-main: "Montserrat", sans-serif;

$font-weight-normal: 400;
$font-weight-semibold: 500;
$font-weight-bold: 700;

$font-size-normal: 1.12rem;

$font-line-normal: 1.6rem;