@import "base/color";
@import "base/normalize";
@import "base/typography";
@import "base/mixin";

@import "components/card";
@import "components/hero";
@import "components/collapse";
@import "components/owner";
@import "components/starsrating";
@import "components/tag";
@import "components/slideshow";

@import "layouts/header";
@import "layouts/footer";
@import "layouts/layout";

@import "pages/home";
@import "pages/about";
@import "pages/housing";
@import "pages/error404";

body,
button {
    font-family: $font-main;

    #root {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}