@import "base/color";
@import "base/normalize";
@import "base/typography";

@import "components/card";
@import "components/hero";
@import "components/collapse";

@import "layouts/header";
@import "layouts/footer";
@import "layouts/layout";

@import "pages/home";
@import "pages/about";
@import "pages/housing";
@import "pages/error404";

body {
    font-family: $font-main;

    #root {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/*
Breakpoint
Small ≥576px
Medium ≥992px
Large ≥ 1240px
*/