.home-container__housing {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8rem;

    @include medium {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2.5rem;
    }

    @include large {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3.13rem;

        background-color: #F6F6F6;
        border-radius: 20px;
        padding: 3rem;
    }
}