.collapse {

    button,
    .collapse__content {
        border-radius: 5px;
    }

    button {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: start;

        border: none;
        width: 100%;
        background-color: $color-main;
        padding: 10px;
        cursor: pointer;

        font-size: 0.9rem;
        font-weight: $font-weight-bold;
        line-height: 1.6rem;
        color: $color-font-light;

        img {
            width: 24px;
        }
    }

    .collapse__parent {
        overflow: hidden;
        transition: height 0.3s ease;

        .collapse__content {
            padding: 25px 15px;
            background-color: #F6F6F673;
            transform: translateY(-110px);
            transition: transform 0.3s ease;

            p {
                display: block;
                font-size: 0.75rem;
                font-weight: $font-weight-normal;
                line-height: 1.06rem;
                white-space: break-spaces;
            }
        }

        .open-content {
            transform: translateY(0);
        }

    }

    @include medium {
        button {
            padding: 10px 20px 10px 15px;
            font-size: 1.1rem;
        }

        .collapse__parent {
            .collapse__content {
                p {
                    font-size: 1.12rem;
                    font-weight: $font-weight-normal;
                    line-height: 1.6rem;
                }
            }
        }

        @include large {
            button {
                font-size: 1.5rem;
            }
        }
    }
}