.slider,
img {
    position: relative;
}

.slider__slide,
.slider__arrow {
    position: absolute;
}

img,
.slider__slides,
.slider__slide {
    width: 100%;
    height: 100%;
}

.slider {
    margin-bottom: 20px;
    height: 35vh;
    border-radius: 10px;
    overflow: hidden;

    img {
        object-fit: cover;
        user-select: none;
    }

    .slider__slides {

        .slider__slide {
            top: 0;
            left: 0;
            z-index: -1;
            transition: all 0.7s ease-in-out;
            transform: translateX(100%);

            &.active {
                display: block;
                transform: translateX(0);
                z-index: 1;
            }

            &.next,
            &.prev {
                display: block;
            }

            &.prev {
                transform: translateX(-100%);
            }
        }
    }

    .numbering {
        display: none;
    }

    .slider__arrow {
        @include responsive-arrow(2rem, 4rem, 5rem);
        z-index: 2;
        transform: scale(1);
        transition: 150ms ease-out;
        cursor: pointer;
        border: 0;
        background: transparent;

        &:hover,
        &:active {
            transform: scale(1.1);
            transition: 150ms ease-out;
        }

        &#prev-arrow {
            left: 2%;
        }

        &#next-arrow {
            right: 2%;
        }

        img {
            object-fit: contain;
        }
    }

    @include medium {
        .numbering {
            display: block;
            position: absolute;
            bottom: 6%;
            left: 49%;
            z-index: 2;
            font-size: 0.87rem;
            font-weight: $font-weight-semibold;
            color: $color-font-light;
        }
    }

    @include large {
        height: 50vh;

        .numbering {
            font-size: 1.12rem;
        }
    }
}