.slider {
    margin-bottom: 20px;
    height: 35vh;
    border-radius: 10px;
    overflow: hidden;
    position: relative;

    img {
        position: relative;
        object-fit: cover;
        width: 100%;
        height: 100%;
        user-select: none;
    }

    .slider__slides {
        height: 100%;

        .slider__slide {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            transition: all 0.7s ease-in-out;
            transform: translateX(100%);

            &.active {
                display: block;
                transform: translateX(0);
                z-index: 1;
            }

            &.next,
            &.prev {
                display: block;
            }

            &.prev {
                transform: translateX(-100%);
            }
        }
    }

    p {
        display: none;
    }

    .slider__arrow {
        position: absolute;
        @include responsive-arrow(2rem, 4rem, 5rem);
        padding: 3%;
        z-index: 2;
        transform: scale(1);
        transition: 150ms ease-out;
        cursor: pointer;

        &:hover,
        &:active {
            transform: scale(1.1);
            transition: 150ms ease-out;
        }

        &#prev-arrow {
            left: 0;
        }

        &#next-arrow {
            right: 0;
        }
    }

    @include medium {
        p {
            &.numbering {
                display: block;
                position: absolute;
                bottom: 6%;
                left: 49%;
                z-index: 2;
                font-size: 0.87rem;
                font-weight: $font-weight-semibold;
                color: $color-font-light;
            }
        }
    }

    @include large {
        height: 50vh;

        p {
            &.numbering {
                font-size: 1.12rem;
            }
        }
    }
}