@charset "UTF-8";
/*******************/
/*** MAIN COLOR ****/
/*******************/
* {
  margin: 0;
}

/*******************/
/**** MAIN FONT ****/
/*******************/
.homecard {
  border-radius: 10px;
  height: 255px;
  width: 100%;
  overflow: hidden;
}
.homecard .homecard__container {
  position: relative;
  cursor: pointer;
}
.homecard .homecard__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  z-index: 2;
}
.homecard .homecard__container p {
  position: absolute;
  top: 20%;
  left: 10%;
  z-index: 3;
  max-width: 50%;
  font-size: 1.12rem;
  font-weight: 700;
  line-height: 1.6rem;
  color: #fff;
}
.homecard .homecard__container img {
  height: 100%;
  width: auto;
  object-fit: cover;
  object-position: 5% 100%;
}
@media screen and (min-width: 576px) {
  .homecard {
    height: 300px;
  }
}
@media screen and (min-width: 992px) {
  .homecard {
    height: 340px;
  }
}

.herosection {
  width: 100%;
  height: 111px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 1.4rem;
}
.herosection .herosection__title {
  position: absolute;
  top: 50%;
  left: 1.25rem;
  transform: translateY(-50%);
  z-index: 1;
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 700;
  white-space: pre-line;
}
.herosection .herosection__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
}
@media screen and (min-width: 576px) {
  .herosection {
    height: 180px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1450980392);
  }
  .herosection .herosection__title {
    left: 2rem;
    font-size: 1.9rem;
    line-height: 2.5rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1450980392);
  }
}
@media screen and (min-width: 992px) {
  .herosection {
    height: 223px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .herosection .herosection__title {
    left: auto;
    font-size: 3rem;
    line-height: 4.25rem;
  }
}

.collapse button {
  border: none;
  border-radius: 5px;
  width: 100%;
  background-color: #FF6060;
  color: #fff;
  padding: 10px;
  text-align: start;
  font-size: 0.9rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 18.54px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.collapse button img {
  width: 24px;
}
.collapse .collapse__content-parent {
  height: 0px;
  overflow: hidden;
  transition: height ease 0.9s;
}
.collapse .collapse__content-parent .collapse__content {
  padding: 25px 15px;
  border-radius: 5px;
  background-color: rgba(246, 246, 246, 0.4509803922);
}
.collapse .collapse__content-parent .collapse__content p {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.06rem;
}
@media screen and (min-width: 576px) {
  .collapse button {
    padding: 10px 20px 10px 15px;
    font-size: 1.1rem;
  }
  .collapse .collapse__panel p {
    font-size: 1.12rem;
    font-weight: 400;
    line-height: 1.6rem;
  }
}
@media screen and (min-width: 576px) and (min-width: 992px) {
  .collapse button {
    font-size: 1.5rem;
  }
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 3rem;
  width: 100%;
}
header img {
  height: 100%;
}
header .navbar {
  display: flex;
  flex-direction: row;
  text-align: end;
  gap: 1.6rem;
}
header .navbar .navbar__link {
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}
header .navbar .navbar__link:hover {
  text-decoration: underline;
}
@media screen and (min-width: 576px) {
  header {
    height: 4.25rem;
  }
  header .navbar {
    gap: 3.5rem;
  }
  header .navbar .navbar__link {
    font-size: 1rem;
  }
}
@media screen and (min-width: 992px) {
  header {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    height: 4.25rem;
  }
  header .navbar .navbar__link {
    font-size: 1.5rem;
    text-transform: none;
  }
}

footer {
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  width: 100%;
  margin-top: 3rem;
}
footer .footer__logo {
  margin-bottom: 1rem;
  max-width: 122px;
}
footer p {
  color: #fff;
  max-width: 35vw;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
}
@media screen and (min-width: 576px) {
  footer p {
    font-size: 1rem;
    max-width: 90vw;
  }
}
@media screen and (min-width: 992px) {
  footer p {
    font-size: 1.5rem;
  }
}

.mainlayout {
  width: 100%;
}
.mainlayout main {
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 992px) {
  .mainlayout main {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}

.home-container__housing {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
}
@media screen and (min-width: 576px) {
  .home-container__housing {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
  }
}
@media screen and (min-width: 992px) {
  .home-container__housing {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3.13rem;
    background-color: #F6F6F6;
    border-radius: 20px;
    padding: 3rem;
  }
}

.about-container .about-container__img {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 1.4rem;
  width: 100%;
  height: 111px;
  object-fit: cover;
  object-position: center 30%;
}
.about-container .about-container__accordion {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 576px) {
  .about-container .about-container__img {
    height: 180px;
  }
  .about-container .about-container__accordion {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 992px) {
  .about-container .about-container__img {
    height: 223px;
  }
  .about-container .about-container__accordion {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25% 10%;
}
.error-container h1,
.error-container h2 {
  color: #FF6060;
  margin-bottom: 70px;
}
.error-container h1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 8.5rem;
}
.error-container h2 {
  font-size: 1.13rem;
  font-weight: 500;
  line-height: 1.6rem;
  text-align: center;
}
.error-container a {
  color: #000;
  font-size: 0.87rem;
  font-weight: 500;
  line-height: 1.25rem;
}
@media screen and (min-width: 576px) {
  .error-container {
    margin: 20% 10%;
  }
  .error-container h1 {
    font-size: 16rem;
    line-height: 20rem;
  }
  .error-container h2 {
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
  }
  .error-container a {
    font-size: 1.12rem;
    line-height: 1.6rem;
  }
}
@media screen and (min-width: 992px) {
  .error-container {
    margin: 5% 15%;
  }
  .error-container h1 {
    font-size: 18rem;
    line-height: 25.62rem;
  }
  .error-container h2 {
    font-size: 2.2rem;
    line-height: 3.2rem;
    text-align: center;
  }
  .error-container a {
    font-size: 1.12rem;
    line-height: 1.6rem;
  }
}

body {
  font-family: "Montserrat", sans-serif;
}
body #root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
Breakpoint
Small ≥576px
Medium ≥992px
Large ≥ 1240px
*/

/*# sourceMappingURL=style.css.map */
