.mainlayout {
    width: 100%;

    main {
        padding-left: 1rem;
        padding-right: 1rem;

        @include large {
            max-width: 1240px;
            margin-left: auto;
            margin-right: auto;
        }
    }

}